.ripple-container {
  text-align: center;
  display: inline-block;

  width: 200px;
  height: 200px;
  line-height: 200px;
  margin: 10px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}

.ripple-container > .label {
  font-size: 2rem;
}
